@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Rubik&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  /* font-family: "Noto Sans", sans-serif; */
}

h1 {
  font-weight: 600;
}

.App {
  height: 100vh;
  background-color: #7182c2;
}

.homePage {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.homePage .loginDiv {
  padding: 0 20px;
}

.homePage .imgDiv {
  text-align: center;
}

.homePage .imgDiv h1 {
  margin: 15px 0;
}
.chatImg {
  width: 300px;
}

.signUpForm {
  width: 100vw;
  padding: 10px calc(100vw - 75vw);
}

.App-link {
  color: #61dafb;
}

.customFileInput {
  width: 0.1px;
	height: 0.1px;
	opacity: 1;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#imgLabel {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  background-color: white;
}